In [1]:
#-*- coding: utf-8 -*-

import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from pandas import DataFrame, Series
from sklearn.preprocessing import LabelEncoder

%matplotlib inline

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
phone_brand_device_model = pd.read_csv('data/phone_brand_device_model.csv')
gender_age_train = pd.read_csv('data/gender_age_train.csv')
label_categories = pd.read_csv('data/label_categories.csv')
events = pd.read_csv('data/events.csv')
app_labels = pd.read_csv('data/app_labels.csv')
app_events = pd.read_csv('data/app_events.csv', dtype = {'event_id' : np.int8, 'app_id' : np.int64, 
                                                   'is_installed' : np.int8, 'is_active' : np.int8})
gender_age_test = pd.read_csv('data/gender_age_test.csv')

### TimeStamp Split

In [3]:
events['timestamp'].replace('-', '', regex = True, inplace = True)
events['timestamp'].replace(':', '', regex = True, inplace = True)
events['timestamp'].replace(' ', '', regex = True, inplace = True)

events['year'] = events['timestamp'].map(lambda x: x[0:4])
events['month'] = events['timestamp'].map(lambda x: x[4:6])
events['day'] = events['timestamp'].map(lambda x: x[6:8])
events['time'] = events['timestamp'].map(lambda x: x[8:10])

events.drop(['timestamp'], axis = 1, inplace = True)
events.drop(['year'], axis = 1, inplace = True)

event_mean = events.groupby('device_id', as_index = False).agg({'longitude' : 'mean', 
                                                   'latitude' : 'mean'})

events_tude_mean = pd.merge(events, event_mean, on = 'device_id')

events_tude_mean = events_tude_mean.drop('longitude_x', 1)
events_tude_mean = events_tude_mean.drop('latitude_x', 1)

### 명목형 변수 치환

In [4]:
phone_brand_device_model.phone_brand.fillna(phone_brand_device_model.phone_brand.dropna().max(), inplace = True)
phone_brand_device_model.device_model.fillna(phone_brand_device_model.device_model.dropna().max(), inplace = True)

In [5]:
le = LabelEncoder()

phone_brand_device_model['brand'] = le.fit_transform(phone_brand_device_model['phone_brand'])
phone_brand_device_model['device'] = le.fit_transform(phone_brand_device_model['device_model'])



phone_brand_label = phone_brand_device_model.copy()

phone_brand_label = phone_brand_label.drop('phone_brand', 1)
phone_brand_label = phone_brand_label.drop('device_model', 1)

In [26]:
# M = 1, F = 0
gender_age_train['M_F'] = le.fit_transform(gender_age_train['gender'])

In [32]:
# group 치환
gender_age_train['group_e'] = le.fit_transform(gender_age_train['group'])

In [33]:
gender_age_train.head()

             device_id gender  age   group  M_F  group_e
0 -8076087639492063270      M   35  M32-38    1       10
1 -2897161552818060146      M   35  M32-38    1       10
2 -8260683887967679142      M   35  M32-38    1       10
3 -4938849341048082022      M   30  M29-31    1        9
4   245133531816851882      M   30  M29-31    1        9

### longitude / latitude mean값으로 변경
* dvice_id에 따른 지역 편차 줄임

In [6]:
event_mean = events.groupby('device_id', as_index = False).agg({'longitude' : 'mean', 
                                                   'latitude' : 'mean'})

events_tude_mean = pd.merge(events, event_mean, on = 'device_id')

events_tude_mean = events_tude_mean.drop('longitude_x', 1)
events_tude_mean = events_tude_mean.drop('latitude_x', 1)

### brand 별 연령대

In [35]:
age_brand = pd.merge(phone_brand_device_model, gender_age_train, how = 'left', on = 'device_id')

In [46]:
age_bran_time = pd.merge(age_brand, events, how = 'left', on = 'device_id')

In [84]:
age_bran_time.head(20)

,device_id,phone_brand,device_model,brand,device,gender,age,group,M_F,group_e,event_id,longitude,latitude,month,day,time
0,-8890648629457979026,小米,红米,51,1517,M,33.0,M32-38,1.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1277779817574759137,小米,MI 2,51,749,M,26.0,M23-26,1.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
2,5137427614288105724,三星,Galaxy S4,15,560,NaN,NaN,NaN,NaN,NaN,571915.0,0.0,0.0,05,07,08
3,5137427614288105724,三星,Galaxy S4,15,560,NaN,NaN,NaN,NaN,NaN,1414484.0,0.0,0.0,05,07,22
4,5137427614288105724,三星,Galaxy S4,15,560,NaN,NaN,NaN,NaN,NaN,3049420.0,0.0,0.0,05,07,08
5,3669464369358936369,SUGAR,时尚手机,9,1503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,-5019277647504317457,三星,Galaxy Note 2,15,536,F,32.0,F29-32,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
7,3238009352149731868,华为,Mate,31,774,F,30.0,F29-32,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
8,-3883532755183027260,小米,MI 2S,51,752,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,-2972199645857147708,华为,G610S,31,432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,-5827952925479472594,小米,MI One Plus,51,758,M,30.0,M29-31,1.0,9.0,69136.0,0.0,0.0,05,02,06
11,-5827952925479472594,小米,MI One Plus,51,758,M,30.0,M29-31,1.0,9.0,174606.0,0.0,0.0,05,01,00
12,-5827952925479472594,小米,MI One Plus,51,758,M,30.0,M29-31,1.0,9.0,243296.0,0.0,0.0,05,02,06
13,-5827952925479472594,小米,MI One Plus,51,758,M,30.0,M29-31,1.0,9.0,784955.0,0.0,0.0,05,05,06
14,-5827952925479472594,小米,MI One Plus,51,758,M,30.0,M29-31,1.0,9.0,1001397.0,0.0,0.0,05,01,00
15,-5827952925479472594,小米,MI One Plus,51,758,M,30.0,M29-31,1.0,9.0,1012098.0,0.0,0.0,05,04,12
16,-5827952925479472594,小米,MI One Plus,51,758,M,30.0,M29-31,1.0,9.0,1037574.0,0.0,0.0,05,03,12
17,-5827952925479472594,小米,MI One Plus,51,758,M,30.0,M29-31,1.0,9.0,1404958.0,0.0,0.0,05,04,21
18,-5827952925479472594,小米,MI One Plus,51,758,M,30.0,M29-31,1.0,9.0,1960278.0,0.0,0.0,05,04,06
19,-5827952925479472594,小米,MI One Plus,51,758,M,30.0,M29-31,1.0,9.0,2230122.0,0.0,0.0,05,07,07

In [48]:
# 명목 변수 제거

age_bran_time_e = age_bran_time[['device_id', 'brand', 'device', 'age', 'M_F', 'group_e', 'event_id', 'longitude', 'latitude', 'time']]

In [49]:
age_bran_time_e.head()

,device_id,brand,device,age,M_F,group_e,event_id,longitude,latitude,time
0,-8890648629457979026,51,1517,33.0,1.0,10.0,NaN,NaN,NaN,NaN
1,1277779817574759137,51,749,26.0,1.0,7.0,NaN,NaN,NaN,NaN
2,5137427614288105724,15,560,NaN,NaN,NaN,571915.0,0.0,0.0,08
3,5137427614288105724,15,560,NaN,NaN,NaN,1414484.0,0.0,0.0,22
4,5137427614288105724,15,560,NaN,NaN,NaN,3049420.0,0.0,0.0,08

In [51]:
g_brand = pd.DataFrame()
g_model = pd.DataFrame()

In [43]:
# phone_brand 평균 연령대

g_brand['brand_age'] = age_brand.groupby('phone_brand')['age'].mean().astype(np.float32)
g_brand['brand_gender'] = age_brand.groupby('phone_brand')['M_F'].mean().astype(np.float32)
g_brand['brand_group'] = age_brand.groupby('phone_brand')['group_e'].mean().astype(np.float32)

g_model['model_age'] = age_brand.groupby('device_model')['age'].mean().astype(np.float32)
g_model['model_gender'] = age_brand.groupby('device_model')['M_F'].mean().astype(np.float32)
g_model['model_group'] = age_brand.groupby('device_model')['group_e'].mean().astype(np.float32)

In [68]:
# time 별 사용자 age 평균
g_time = pd.DataFrame()
g_time['time_age_median'] = age_bran_time_e.groupby('time')['age'].median().astype(np.float32)
g_time['time_gen'] = age_bran_time_e.groupby('time')['M_F'].mean().astype(np.float32)

In [74]:
g_time['time_group'] = age_bran_time_e.groupby('time')['group_e'].var()

In [122]:
# 시간대별 그룹 사용자 분포
g_tmp = pd.DataFrame()
g_tmp['group_size'] = age_bran_time_e.groupby(['time', 'group_e']).size()

In [116]:
g_time_sum = pd.DataFrame()
g_time_sum['time_sum'] = age_bran_time_e.groupby('time').size()

In [130]:
g_tmp = g_tmp.reset_index()
g_time_sum = g_time_sum.reset_index()

In [131]:
g_tmp_ = pd.merge(g_tmp, g_time_sum, on = 'time')

In [133]:
g_tmp_ = g_tmp_.drop('time_sum_x', 1)

In [135]:
g_tmp_['time_g_ratio'] = g_tmp_.group_size / g_tmp_.time_sum_y

In [146]:
g_tmp_.head(24)

   time  group_e  group_size  time_sum_y  time_g_ratio
0    00      0.0        1403      117864      0.011904
1    00      1.0        1485      117864      0.012599
2    00      2.0        1339      117864      0.011361
3    00      3.0        1893      117864      0.016061
4    00      4.0        2679      117864      0.022730
5    00      5.0        2216      117864      0.018801
6    00      6.0        3148      117864      0.026709
7    00      7.0        6546      117864      0.055539
8    00      8.0        3447      117864      0.029246
9    00      9.0        5249      117864      0.044534
10   00     10.0        8454      117864      0.071727
11   00     11.0        7199      117864      0.061079
12   01      0.0         921       70693      0.013028
13   01      1.0        1124       70693      0.015900
14   01      2.0         717       70693      0.010142
15   01      3.0        1131       70693      0.015999
16   01      4.0        1570       70693      0.022209
17   01      5.0        1231       70693      0.017413
18   01      6.0        1757       70693      0.024854
19   01      7.0        4402       70693      0.062269
20   01      8.0        2193       70693      0.031021
21   01      9.0        3183       70693      0.045026
22   01     10.0        4670       70693      0.066060
23   01     11.0        4315       70693      0.061039

### 임시로 뭉쳐 놓음

In [143]:
tmp = pd.merge(age_bran_time_e, g_tmp_, how = 'left', on = ['group_e', 'time'])

In [147]:
tmp = tmp[['device_id', 'brand', 'device', 'age', 'M_F', 'group_e', 'event_id', 'longitude', 'latitude', 'time', 'time_g_ratio']]

In [148]:
tmp.head(20)

,device_id,brand,device,age,M_F,group_e,event_id,longitude,latitude,time,time_g_ratio
0,-8890648629457979026,51,1517,33.0,1.0,10.0,NaN,NaN,NaN,NaN,NaN
1,1277779817574759137,51,749,26.0,1.0,7.0,NaN,NaN,NaN,NaN,NaN
2,5137427614288105724,15,560,NaN,NaN,NaN,571915.0,0.0,0.0,08,NaN
3,5137427614288105724,15,560,NaN,NaN,NaN,1414484.0,0.0,0.0,22,NaN
4,5137427614288105724,15,560,NaN,NaN,NaN,3049420.0,0.0,0.0,08,NaN
5,3669464369358936369,9,1503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,-5019277647504317457,15,536,32.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN
7,3238009352149731868,31,774,30.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN
8,-3883532755183027260,51,752,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,-2972199645857147708,31,432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,-5827952925479472594,51,758,30.0,1.0,9.0,69136.0,0.0,0.0,06,0.041580
11,-5827952925479472594,51,758,30.0,1.0,9.0,174606.0,0.0,0.0,00,0.044534
12,-5827952925479472594,51,758,30.0,1.0,9.0,243296.0,0.0,0.0,06,0.041580
13,-5827952925479472594,51,758,30.0,1.0,9.0,784955.0,0.0,0.0,06,0.041580
14,-5827952925479472594,51,758,30.0,1.0,9.0,1001397.0,0.0,0.0,00,0.044534
15,-5827952925479472594,51,758,30.0,1.0,9.0,1012098.0,0.0,0.0,12,0.049652
16,-5827952925479472594,51,758,30.0,1.0,9.0,1037574.0,0.0,0.0,12,0.049652
17,-5827952925479472594,51,758,30.0,1.0,9.0,1404958.0,0.0,0.0,21,0.046448
18,-5827952925479472594,51,758,30.0,1.0,9.0,1960278.0,0.0,0.0,06,0.041580
19,-5827952925479472594,51,758,30.0,1.0,9.0,2230122.0,0.0,0.0,07,0.041213

In [151]:
age_bran_time_app = pd.merge(age_bran_time, app_events, how = 'left', on = 'event_id')

In [152]:
age_bran_time_app_label = pd.merge(age_bran_time_app, app_labels, how = 'left', on = 'app_id')

In [153]:
age_bran_time_app_label.head()

,device_id,phone_brand,device_model,brand,device,gender,age,group,M_F,group_e,event_id,longitude,latitude,month,day,time,app_id,is_installed,is_active,label_id
0,-8890648629457979026,小米,红米,51,1517,M,33.0,M32-38,1.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1277779817574759137,小米,MI 2,51,749,M,26.0,M23-26,1.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5137427614288105724,三星,Galaxy S4,15,560,NaN,NaN,NaN,NaN,NaN,571915,0.0,0.0,05,07,08,NaN,NaN,NaN,NaN
3,5137427614288105724,三星,Galaxy S4,15,560,NaN,NaN,NaN,NaN,NaN,1.41448e+06,0.0,0.0,05,07,22,NaN,NaN,NaN,NaN
4,5137427614288105724,三星,Galaxy S4,15,560,NaN,NaN,NaN,NaN,NaN,3.04942e+06,0.0,0.0,05,07,08,NaN,NaN,NaN,NaN

In [181]:
g_app_label = pd.DataFrame()
g_app_label['size'] = age_bran_time_app_label.groupby(['brand', 'device', 'label_id'])['label_id'].size()
g_app_label['age_mean'] = age_bran_time_app_label.groupby(['brand', 'device', 'label_id'])['age'].mean(skipna=True)

UnsupportedFunctionCall: numpy operations are not valid with groupby. Use .groupby(...).mean() instead

In [180]:
g_app_label.head(30)

                       size  age_mean
brand device label_id
2     288    16.0         3       NaN
             22.0         1       NaN
             31.0         2       NaN
             36.0         3       NaN
             43.0         3       NaN
             46.0        10       NaN
             47.0        10       NaN
             70.0         4       NaN
             88.0         2       NaN
             90.0         3       NaN
             99.0         5       NaN
             100.0        3       NaN
             137.0        2       NaN
             149.0        1       NaN
             158.0       34       NaN
             159.0       34       NaN
             163.0      142       NaN
             168.0       20       NaN
             169.0        1       NaN
             179.0       53       NaN
             180.0       15       NaN
             186.0        9       NaN
             187.0        1       NaN
             203.0        1       NaN
             206.0        3       NaN
             207.0        5       NaN
             209.0        1       NaN
             211.0        1       NaN
             215.0        1       NaN
             219.0        5       NaN

In [19]:
g_user.reset_index()

    phone_brand  brand_age
0          E人E本        NaN
1            E派  26.900000
2           HTC  31.311331
3            LG  31.522522
4          LOGO  40.473682
5         Lovme  25.799999
6           MIL  15.000000
7          OPPO  29.456223
8          PPTV  32.333332
9         SUGAR  28.500000
10          TCL  32.337837
11         ZOYE  38.000000
12          ZUK  33.517857
13         vivo  28.858253
14           一加  29.890804
15           三星  32.966949
16         世纪天元  67.000000
17          世纪星        NaN
18           中兴  32.788616
19         中国移动  32.032726
20           丰米  27.000000
21           乐视  31.046053
22           乡米  21.250000
23          亚马逊  38.000000
24           亿通  26.172413
25           优米  33.369793
26           优语  23.000000
27           优购  30.291666
28           先锋  33.599998
29          凯利通  36.000000
30          努比亚  30.923553
31           华为  32.752712
32           华硕  33.474575
33           原点  39.000000
34           台电  36.333332
35           唯比  35.000000
36           唯米  32.692307
37           嘉源        NaN
38           基伍  31.600000
39           夏新  34.678570
40           大Q  27.200001
41          大可乐  37.400002
42           大显  44.000000
43         天宏时代  40.000000
44           天语  35.402515
45           奇酷  31.828571
46          奥克斯  43.750000
47           宏碁        NaN
48          宝捷讯  19.000000
49          富可视  32.775002
50          小杨树  26.692308
51           小米  30.986849
52          尼比鲁  33.666668
53           帷幄        NaN
54           广信  26.000000
55           康佳  29.785715
56          德卡诺        NaN
57           德赛  31.000000
58          恒宇丰  30.000000
59           惠普  35.000000
60           戴尔  30.000000
61           摩乐  32.000000
62         摩托罗拉  30.116505
63           斐讯  32.000000
64           昂达  34.000000
65           易派  31.600000
66          普耐尔  34.000000
67           智镁  32.000000
68           本为  32.000000
69           朵唯  29.600939
70           极米        NaN
71           果米  32.090908
72           梦米  39.235294
73          欧乐迪  27.666666
74          欧乐酷  28.000000
75          欧博信  30.100000
76           欧奇  28.333334
77           欧新  33.583332
78           欧比  34.000000
79           欧沃        NaN
80          沃普丰  30.000000
81           波导  34.536587
82           海信  32.985294
83           海尔  35.000000
84          爱派尔  32.738094
85           瑞米  23.500000
86           瑞高        NaN
87           白米  28.250000
88           百加  37.000000
89          百立丰  35.647060
90           碟米        NaN
91           神舟  33.625000
92           米奇  32.000000
93           米歌  38.294117
94          糖葫芦  32.428570
95           糯米  26.666666
96           索尼  31.564854
97           纽曼  33.320000
98           维图  28.444445
99           美图  26.947369
100          聆韵  27.761906
101          联想  32.636364
102         至尊宝  29.416666
103         艾优尼  29.075001
104          蓝魔  31.666666
105          虾米  28.666666
106          西米  29.571428
107         西门子  27.000000
108          语信  30.805882
109         诺亚信  28.466667
110         诺基亚  31.600000
111          谷歌  32.571430
112         贝尔丰  33.086956
113        赛博宇华        NaN
114          邦华  31.083334
115          酷比  29.328358
116        酷比魔方  36.671875
117          酷派  32.277992
118          酷珀  33.857143
119        金星数码  23.666666
120          金立  31.408363
121          锤子  29.193718
122          长虹  24.000000
123          青橙  30.666666
124          青葱  28.750000
125         飞利浦  40.000000
126          飞秒  41.000000
127          首云  31.333334
128          魅族  28.402760
129          鲜米  20.000000
130          黑米  35.599998

In [22]:
age_brand = age_brand.join(g_user, on = 'phone_brand', rsuffix = '_')

In [24]:
age_brand = age_brand.drop('brand_age', 1)

In [25]:
age_brand.head()

,device_id,phone_brand,device_model,brand,device,gender,age,group,brand_age_
0,-8890648629457979026,小米,红米,51,1517,M,33.0,M32-38,30.986849
1,1277779817574759137,小米,MI 2,51,749,M,26.0,M23-26,30.986849
2,5137427614288105724,三星,Galaxy S4,15,560,NaN,NaN,NaN,32.966949
3,3669464369358936369,SUGAR,时尚手机,9,1503,NaN,NaN,NaN,28.500000
4,-5019277647504317457,三星,Galaxy Note 2,15,536,F,32.0,F29-32,32.966949

### test set 구성

In [ ]:
age_even = pd.merge(gender_age_train, events_tude_mean, how = 'left', on = 'device_id')
age_app = pd.merge(age_even, app_events, how = 'left', on = 'event_id')
age_label = pd.merge(age_app, app_labels, how='left', on='app_id')
age_model = pd.merge(age_label, phone_brand_label, how = 'left', on = 'device_id')

train_f = age_model.loc[:, ['device_id', 'label_id', 'brand', 'device']]

X = train_f

age_model['group_label'] = le.fit_transform(age_model['group'])
y = age_model.group_label

X.fillna(-1, inplace = True)
y.fillna(-1, inplace = True)

### test set 구성

In [ ]:
test_e = pd.merge(gender_age_test, events_tude_mean, how = 'left', on = 'device_id')
test_app = pd.merge(test_e, app_events, how = 'left', on = 'event_id')
test_app_label = pd.merge(test_app, app_labels, how='left', on = 'app_id')
test_model = pd.merge(test_app_label, phone_brand_label, how = 'left', on = 'device_id')

test_model.fillna(-1, inplace = True)

## train_test_split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

# Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
forest = RandomForestClassifier(criterion = 'gini', n_estimators = 10, random_state = 1, n_jobs = -1)

In [ ]:
forest.fit(X_train[['label_id', 'brand', 'device']], y_train)

In [ ]:
forest.feature_importances_

In [ ]:
result_rf = pd.DataFrame(y_prona_rf_test, columns = le.classes_)
device_id = test_model["device_id"].values
result_rf['device_id'] = device_id  
result_rf = result_rf.set_index('device_id')
result_rf = result_rf.drop_duplicates(['device_id'], keep='first')

# 예측

In [ ]:
y_prona_rf_test = forest.predict_proba(test_model[['label_id', 'brand', 'device']])

In [ ]:
from sklearn.metrics import accuracy_score